<h1>Bar Alfalfa</h1>
<p></p>
<style type="text/css">
	.opciones  {
		display: inline;
		list-style-type: none;		
		padding-right: 5px;
		float:left;
	}

</style>
<div class='opciones'>
<figure >
    <%=link_to image_tag('checkout.png',:size=>'128x128',:title=>'Cierres de caja'),cajas_path%>
    <figcaption>Cierres de caja</figcaption>
</figure>
</div>
<div class='opciones'>
<figure >
   <%=link_to image_tag('user.png',:size=>'128x128'),usuarios_path%>
    <figcaption>Usuarios</figcaption>
</figure>
</div>
<div class='opciones'>
<figure >
    <li><%=link_to image_tag('note.png',:size=>'128x128'),nota_path%></li>
    <figcaption>Notas</figcaption>
</figure>
</div>
<div class='opciones'>
<figure >
    <li><%=link_to image_tag('todo.png',:size=>'128x128'),todos_path%></li>
    <figcaption>Recordatorios</figcaption>
</figure>
</div>

